*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
javalib/appletsoundworld/Versions.java
javalib/appletsoundworld/World.java
javalib/appletsoundworld/WorldApplet.java
javalib/appletworld/Versions.java
javalib/appletworld/World.java
javalib/appletworld/WorldApplet.java
javalib/colors/Blue.java
javalib/colors/IColor.java
javalib/colors/White.java
javalib/funworld/Versions.java
javalib/colors/Yellow.java
javalib/funworld/World.java
javalib/impworld/Versions.java
javalib/colors/Red.java
javalib/colors/Black.java
javalib/colors/Green.java
javalib/impworld/World.java
javalib/soundworld/Versions.java
javalib/soundworld/World.java
javalib/tunes/Chord.java
javalib/tunes/Melody.java
javalib/tunes/MusicBox.java
javalib/tunes/Note.java
javalib/tunes/SoundConstants.java
javalib/tunes/Tune.java
javalib/tunes/TuneBucket.java
javalib/worldcanvas/AppletCanvas.java
javalib/worldcanvas/CanvasPanel.java
javalib/worldimages/CircleImage.java
javalib/worldcanvas/WorldCanvas.java
javalib/worldcanvas/MyCanvas.java
javalib/worldimages/DiskImage.java
javalib/worldimages/EllipseImage.java
javalib/worldimages/FrameImage.java
javalib/worldimages/FromFileImage.java
javalib/worldimages/ImageMaker.java
javalib/worldimages/ImageMakerApplet.java
javalib/worldimages/LineImage.java
javalib/worldimages/OvalImage.java
javalib/worldimages/OverlayImagesXY.java
javalib/worldimages/Posn.java
javalib/worldimages/TextImage.java
javalib/worldimages/OverlayImages.java
javalib/worldimages/RectangleImage.java
javalib/worldimages/TriangleImage.java
javalib/worldimages/WorldEnd.java
javalib/worldimages/WorldImage.java
